{% extends 'dummy.html' %}

{% block title %}
        <h1><title>change_password</title></h1>

{% endblock %}

{% block body_block %}

<center>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="PW">Password</label></td>
                <td><input type="PW" name="PW" id="PW"></td>
            </tr>
            <tr>
                <td><input type="submit" value="change_password"></td>
            </tr>
        </table>
    </form>
</center>

{% endblock %}

